:root {
    --darkGreen: #4A4633;
    --sageGreen: #8C8C77;
    --lightNeutral: #F2ECE4;
    --darkNeutral: #D9CDBD;
    --grey: #6E675E;
  }


body {
    margin: 0;
    background-color: var(--lightNeutral);
}