.portfolioContainer {
    text-align: center;
    background-color: var(--darkNeutral);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-style {
    border-radius: 40px;
}

.app-info {
    display: none;
    background-color: var(--lightNeutral);
    border-radius: 40px;
    width: 300px;
    margin: auto;
    padding: 10px;
    
}

.app-info:hover {
    display: block;
}

.img-style:hover + .app-info {
    display: block;
}


.card {
    width: 26%;
    margin: auto;
}

.card-body {
    background-color: var(--darkNeutral);
}

.appBtn {
    background-color: var(--darkGreen);
    color: var(--lightNeutral) !important;
    border-radius: 8px;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
}

.appBtn:hover {
    background-color: var(--sageGreen);
    color: var(--lightNeutral) !important;
}

.git {
    width: 50px;
    margin-left: 20px;
}

.git:hover {
    background-color: var(--darkNeutral);
}

@media screen and (max-width: 900px) {
    .portfolioContainer {
        height: 100%;
    }
    .work {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .card {
        width: 45%;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .work {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .card {
        width: 100%;
    }
}